body{
  background-color: #1953aa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent{
  height: 200px;
  width: 300px;
  resize: both;
  overflow: auto;
  border-style: solid;
  padding: 4px;
}
.child{
  width: 100%;
  height: 100%;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
